body{
    background: url(backgroun3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-size: 1em;
    font-style: normal;
    }

#titulo-menu {
    text-align: center;
    size: 2em;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:aliceblue
}

#format-p {
    text-align: center;
    size: 2em;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
}

#fomulario {
    text-align: left;
    position: center;
    color: aliceblue;
    border: 1px;
    border-color: aliceblue;
    border-radius: 20px;
    background-color: rgb(106, 189, 238, 0.8);
    padding: 2px;
    margin: 0 auto;
    margin-top: 24px;
    width: 400px;
}

.formu {
    font-size: 1.5em;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(240, 245, 250);
}

select{
    appearance: none;
    background-color: rgb(166, 170, 179);
    color: aliceblue;
    font-family: "Franklin Gothic Medium";
    font-size: 1.2em;
    width: 200px;
    text-align: center;
    }

textarea {
    width: 350px;
    height: 200px;
    background-color:aliceblue;
    font-family: "Arial";
    font-size: 0.8em;
    color: rgb(69, 69, 70);
    border-color: rgb(51, 157, 206);
}

button {
    background-color: rgb(166, 170, 179);
    border: bold;
    text-align: center;
    font-size: bolder;
    font-size: 18px;
    padding: 10px 24px;
    display: inline-block;
    font-family: "Franklin Gothic Medium";
    color: aliceblue;
    border-radius: 15px;
}

.formdiv {
    width: 350px;
    color: rgb(69, 69, 70);
}

a:link {
    color: aliceblue;
}

a:hover {
    color:  rgb(51, 157, 206);
    text-decoration: underline;
}

a:visited {
    color: rgb(42, 128, 168);
}
